{% extends "../_layouts/page.twig" %}

{% block title "nourthe's Portfolio - " ~ project %}

  {% block header_content %}
    <a href="/blog"><h4>Go back to portfolio menu</h4></a>
    <h1>{{project}}</h1>
    <h2>{{description}}</h2>
    <div class="d-lg-flexx ">
      <a href="{{link}}" class="btn-get-started">{{s["visite"]}}</a>
      <!-- <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox btn-watch-video" data-vbtype="video" data-autoplay="true">Github<i class="icofont-play-alt-2"></i></a> -->
    </div>
  {% endblock %}

{% block content %}

<section>
  <div class="container">
    {{ body }}
  </div>
</section>

{% endblock %}
